body {
  padding: 0;
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100vw;
  height: 100vh;
}

header {
  display: flex;
  flex: 1;
  background-color: rgb(90, 155, 136);
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: row;
  padding: 3px 0;
  gap: 3px;
}

.nav,
.advertisement {
  display: flex;
  flex: 0.3;
  height: 80vh;
  background-color: rgb(255, 153, 58);
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  flex: 0.7;
  height: 80vh;
  background-color: rgb(255, 153, 58);
  align-items: center;
  justify-content: center;
}

footer {
  display: flex;
  flex: 1;
  background-color: rgb(255, 250, 151);
  justify-content: center;
  align-items: center;
}
